html{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/nyc.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo {
  width: 50px;
  cursor: pointer;
  border-radius: 50px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
  font-size: x-large;
}

.socials {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  font-weight: 200;
}

.socials ul li{
  list-style: none;
  display: inline-block;
  margin: 5px;
}

.socials img{
  width: 30px;
  cursor: pointer;
  border-radius: 50px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background-color: white;
}

.socials img:hover{
  border-color: rgb(255, 89, 0);
  transition: 0.3s;
}

.navbar ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: rgb(255, 89, 0);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.content{
  color: white;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50);
  text-align: center;
}

.content h1{
  font-size: 70px;
  margin-top: -40px;
  font-weight: 50;
}
.content p{
  margin: 20px;
  font-weight: 100;
  line-height: 25px;
}
